body {
    background-image: url(../img/so-white.png);
}

.container {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    color: #2FA4FF;
}

header h3 {
    font-size: 0.9em;
}

header .github-content {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header i {
    font-size: 3em;
}

/* Content */
/* Form */
.form-floating textarea.form-control {
    height: 300px;
}

button.btn.btn-primary {
    width: 100%;
}

/* Result */

.result p {
    margin-top: 20px;
    line-height: 100%;
}

/* responsive breakpoint */

@media screen and (max-width:576px) {

    .row .col-lg.side-right {
        padding-top: 20px;
    }

}



